<body>
    <header class="cabecalho">
        <a href="#"><img id="logo" src="images/logo.svg" alt="logo de apresentação"></a>
        <nav class="cabecalho-menu">
            <ul class="menu">
                <li>
                    <a href="#" class="menu-item tipe-button"><i class="fa-sharp fa-solid fa-dna"></i>Início</a>
                </li>
                <li>
                    <a href="#contatos" class="menu-item tipe-button"><i class="fa-solid fa-microscope"></i>Contatos</a>
                </li>
            </ul>
        </nav>
    </header>
</body>