@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap');
:root {
    --main-text-color: #ceb4b7;
    --color-secundary: #a57e82;
    --color-title: #745457;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    width: 100%;
    margin: auto;
    background-color: #ffff;
    font-size: 100%;
    /* background: linear-gradient(68.15deg, #b98c95 16.62%, #fdcbc0 85.61%);*/
}

i {
    margin: 5px;
}

.separator {
    position: relative;
    border: none;
    background-color: var(--color-secundary);
    border-radius: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.separator i {
    position: absolute;
    color: var(--main-text-color);
    font-size: x-large;
    animation-name: setaBaixo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes setaBaixo {
    0% {
        top: 10%;
    }
    100% {
        top: 25%;
    }
}


/* -- Cabeçaljo -- */

.cabecalho {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0px;
    border-bottom: 0.2px solid rgba(206, 180, 183, .2);
}

#logo {
    display: block;
    height: 100px;
}

.menu {
    display: flex;
    justify-items: end;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.tipe-button {
    margin-right: 20px;
    width: 150px;
    height: 50px;
    border: solid 1px var(--color-secundary);
    border-radius: 50px;
    text-decoration: none;
    color: var(--color-secundary);
    font-weight: 500;
    text-transform: uppercase;
}

.menu-item:hover {
    color: #ffffff;
    background-color: var(--color-secundary);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}


/* Conteudo principal --*/

.conteudo {
    width: 70%;
    margin: auto;
}

.conteudo-primario {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    min-height: 600px;
}

.conteudo-primario-descricao {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 750px;
}

.conteudo-primario-descricao p:first-child {
    font-weight: 500;
    font-size: 18px;
}

.conteudo-primario-descricao h1 {
    margin: 20px 0px;
    font-weight: 900;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: -2px;
}

.conteudo-primario-descricao h1 span.destaque {
    color: var(--color-secundary);
}

.apresentacao {
    margin-top: 15px;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
}

.link-saiba-mais {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundary);
    border-radius: 50px;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.link-saiba-mais:hover {
    background-color: var(--main-text-color);
}

.conteudo-primario-imagem {
    margin-left: 20px;
    max-width: 100%;
    width: 800px;
}


/* --- Conteúdo secundário --*/

.conteudo-secundario {
    display: flex;
    flex-direction: column;
}

.conteudo-secundario-titulo {
    display: block;
    margin: 50px auto 0px auto;
    font-weight: 900;
    font-size: 38px;
    color: var(--color-title);
    text-transform: uppercase;
}

.conteudo-secundario-contatos {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
}

.conteudo-secundario-contatos-menu-social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    list-style: none;
}

.conteudo-secundario-contatos-menu-social-media li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    min-height: 200px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.conteudo-secundario-contatos-menu-social-media li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo-secundario-contatos-menu-social-media li i {
    text-decoration: none;
    color: var(--color-title);
    font-size: 50px;
    font-weight: 900;
}

.conteudo-secundario-contatos-menu-social-media-item {
    text-decoration: none;
    color: var(--color-title);
    font-size: 20px;
    font-weight: 900;
}

.conteudo-secundario-contatos-menu-social-media li p {
    margin-top: 5px;
    ;
    color: var(--color-title);
    font-size: 12px;
}

.rodape {
    margin: 20px;
    color: #241d1d;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .conteudo {
        width: 80%;
        margin: auto;
    }
    .conteudo-primario-descricao p:first-child {
        font-weight: 500;
        font-size: 16px;
    }
    .conteudo-primario-descricao h1 {
        margin: 20px 0px;
        font-weight: 900;
        font-size: 50px;
    }
    .conteudo-primario-descricao p#apresentacao {
        font-weight: 400;
        font-size: 18px;
        text-align: justify;
    }
    .conteudo-primario-imagem {
        margin-left: 10px;
        width: 300px;
        max-width: 100%;
    }
}

@media screen and (max-width:900px) {
    .cabecalho {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 0px;
        border-bottom: 0.2px solid rgba(206, 180, 183, .2);
    }
    .tipe-button {
        margin-right: 20px;
        width: 130px;
        height: 40px;
    }
    .conteudo {
        width: 90%;
        margin: auto 50px;
    }
    .conteudo-primario-descricao p:first-child {
        font-weight: 500;
        font-size: 16px;
    }
    .conteudo-primario-descricao h1 {
        margin: 20px 0px;
        font-weight: 900;
        font-size: 50px;
    }
    .conteudo-primario-descricao p#apresentacao {
        font-weight: 400;
        font-size: 18px;
        text-align: justify;
    }
    .conteudo-primario-imagem {
        margin-left: 10px;
        width: 250px;
        max-width: 100%;
    }
}

@media screen and (max-width:600px) {
    .cabecalho {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0px;
        border-bottom: 0.2px solid rgba(206, 180, 183, .2);
    }
    #logo {
        display: block;
        height: 100px;
    }
    .conteudo {
        width: 90%;
        margin: 0px 20px;
    }
    .separator {
        display: none;
    }
    .conteudo-primario {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
        min-height: 600px;
    }
    .conteudo-primario-descricao p:first-child {
        font-weight: 500;
        font-size: 16px;
    }
    .conteudo-primario-descricao h1 {
        margin: 20px 0px;
        font-weight: 900;
        font-size: 50px;
    }
    .conteudo-primario-descricao p#apresentacao {
        font-weight: 400;
        font-size: 18px;
        text-align: justify;
    }
    .conteudo-primario-imagem {
        margin-left: 10px;
        width: 250px;
        max-width: 100%;
    }
}